extends ../layout.pug

block nav
  .nav
    ol.breadcrumb
      li
        a(href='/') Features
      li
        a(href='/subscriptions') Subscriptions
      li.active Show

block header
  .text-center
    h2 Subscription item

block content
  - var action = '/subscriptions/' + subscription._id + '/destroy'
  form.form-horizontal(action=action, method='POST')
    .form-group
      label.control-label.col-sm-2(for='subscription_id') ID
      .col-sm-10
        #subscription_id.form-control= subscription._id
    .form-group
      label.control-label.col-sm-2(for='subscription_rev') Revision
      .col-sm-10
        #subscription_rev.form-control= subscription._rev
    .form-group
      label.control-label.col-sm-2(for='subscription_events') Events
      .col-sm-10
        #subscription_events.form-control= subscription.event_types
    .form-group
      label.control-label.col-sm-2(for='subscription_target_url') Target URL
      .col-sm-10
        #subscription_target_url.form-control= subscription.target_url

    - var organization_id = subscription.organization_id || '' ;
    if !!organization_id
      .form-group
        label.control-label.col-sm-2(for='subscription_organization_id') Organization ID
        .col-sm-10
          #subscription_organization_id.form-control= organization_id

    - var is_author_present = !!(subscription.created_by && subscription.created_by.user_id);
    - var user_id = is_author_present ? subscription.created_by.user_id : '';
    if !!user_id
      .form-group
        label.control-label.col-sm-2(for='subscription_created_by') Created by (User ID)
        .col-sm-10
            #subscription_created_by.form-control= user_id

    .form-group
      .col-sm-2
        button.btn.btn-danger.form-control(type='submit') Delete
